.panel-entity {
    position: fixed;
    top: inherit;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $color-white;
    color: $color-grey;
    z-index: 9;
    @include respond-to('medium') {
        left: inherit;
        right: 0;
        .ar & {
            left: 0;
            right: inherit;
        }
        max-width: rem(895px, 'medium');
        width: 63vw;
    }
    @include respond-to('large') {
        max-width: rem(895px, 'large');
    }
    a {
        color: $color-grey;
    }
    .hide-line {
        &::after {
            display: none;
        }
    }
}

.button-close {
    position: fixed;
    top: rem(20px, 'small');
    right: rem(16px, 'small');
    .ar & {
        right: inherit;
        left: rem(16px, 'small');
    }
    z-index: 10;
    @include respond-to('medium') {
        top: rem(38px, 'medium');
        right: rem(24px, 'medium');
        .ar & {
            right: inherit;
            left: rem(24px, 'medium');
        }
    }
    @include respond-to('large') {
        top: rem(38px, 'large');
        right: rem(24px, 'large');
        .ar & {
            left: rem(24px, 'large');
        }
    }
}

.points {
    display: flex;
    margin-bottom: rem(51px, 'small');
    @include respond-to('medium') {
        margin-bottom: rem(51px, 'medium');
    }
    @include respond-to('large') {
        margin-bottom: rem(51px, 'large');
    }
    .point {
        width: rem(3.75px, 'small');
        height: rem(8.74px, 'small');
        background: var(--color-theme-secondary);
        @include respond-to('medium') {
            width: rem(3.75px, 'medium');
            height: rem(8.74px, 'medium');
        }
        @include respond-to('large') {
            width: rem(3.75px, 'large');
            height: rem(8.74px, 'large');
        }
        &:first-child {
            margin-right: rem(130px, 'small');
            @include respond-to('medium') {
                margin-right: rem(130px, 'medium');
            }
            @include respond-to('large') {
                margin-right: rem(130px, 'large');
            }
            .ar & {
                margin-right: 0;
                margin-left: rem(130px, 'small');
                @include respond-to('medium') {
                    margin-right: rem(130px, 'medium');
                }
                @include respond-to('large') {
                    margin-right: rem(130px, 'large');
                }
            }
        }
        &:last-child {
            margin-left: rem(63px, 'small');
            @include respond-to('medium') {
                margin-left: rem(63px, 'medium');
            }
            @include respond-to('large') {
                margin-left: rem(63px, 'large');
            }
            .ar & {
                margin-left: 0;
                margin-right: rem(63px, 'small');
                @include respond-to('medium') {
                    margin-right: rem(63px, 'medium');
                }
                @include respond-to('large') {
                    margin-right: rem(63px, 'large');
                }
            }
        }
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(57px, 'small');
    @include respond-to('medium') {
        margin-bottom: rem(88px, 'medium');
    }
    @include respond-to('large') {
        margin-bottom: rem(88px, 'large');
    }
    .h1 {
        max-width: rem(164px, 'small');
        margin-bottom: rem(56px, 'small');
        color: var(--color-theme-primary);
        @include respond-to('medium') {
            max-width: rem(350px, 'medium');
            margin-bottom: rem(56px, 'medium');
        }
        @include respond-to('large') {
            max-width: rem(350px, 'large');
            margin-bottom: rem(56px, 'large');
        }
    }
    .p1 {
        max-width: rem(269px, 'small');
        margin-right: rem(100px, 'small');
        @include respond-to('medium') {
            align-self: flex-end;
            max-width: rem(392px, 'medium');
            margin-right: rem(100px, 'medium');
        }
        @include respond-to('large') {
            max-width: rem(392px, 'large');
            margin-right: rem(100px, 'large');
        }
        .ar & {
            margin-right: 0;
            margin-left: rem(100px, 'small');
            @include respond-to('medium') {
                margin-left: rem(100px, 'medium');
            }
            @include respond-to('large') {
                margin-left: rem(100px, 'large');
            }
        }
    }
}

.articles {
    margin-bottom: rem(119px, 'small');
    @include respond-to('medium') {
        margin-bottom: rem(170px, 'medium');
    }
    @include respond-to('large') {
        margin-bottom: rem(170px, 'large');
    }
    .h8 {
        color: var(--color-theme-primary);
        margin-bottom: rem(55px, 'small');
        @include respond-to('medium') {
            margin-bottom: rem(38px, 'medium');
        }
        @include respond-to('large') {
            margin-bottom: rem(38px, 'large');
        };
    }
    .slider-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(26px, 'small');
        padding-right: rem(18px, 'small');
        padding-left: rem(18px, 'small');
        @include respond-to('medium') {
            margin-bottom: rem(40px, 'medium');
            padding-right: rem(62px, 'medium');
            padding-left: rem(62px, 'medium');
        }
        @include respond-to('large') {
            margin-bottom: rem(40px, 'large');
            padding-right: rem(62px, 'large');
            padding-left: rem(62px, 'large');
        };
        .slider-navigation {
            .button-arrow:not(:last-child) {
                margin-right: rem(8px, 'small');
                @include respond-to('medium') {
                    margin-right: rem(8px, 'medium');
                }
                @include respond-to('large') {
                    margin-right: rem(8px, 'large');
                }
                .ar & {
                    margin-right: 0;
                    margin-left: rem(8px, 'small');
                    @include respond-to('medium') {
                        margin-left: rem(8px, 'medium');
                    }
                    @include respond-to('large') {
                        margin-left: rem(8px, 'large');
                    }
                }
            }
        }
    }
    .slider {
        padding-left: rem(18px, 'small');
        .ar & {
            padding-left: 0;
            padding-right: rem(18px, 'small');
        }
        @include respond-to('medium') {
            padding-left: rem(62px, 'medium');
            .ar & {
                padding-right: rem(62px, 'medium');
            }
        }
        @include respond-to('large') {
            padding-left: rem(62px, 'large');
            .ar & {
                padding-right: rem(62px, 'large');
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(60px, 'small') rem(16px, 'small');
    @include respond-to('medium') {
        padding: rem(53px, 'medium') rem(33px, 'medium');
    }
    @include respond-to('large') {
        padding: rem(53px, 'large') rem(33px, 'large');
    }
}
