.panel-entity {
    opacity: 0;

    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: $color-grey;

    background-color: $color-white;

    transform: translateX(100%);

    pointer-events: all;
    flex-direction: column;

    will-change: transform;

    a {        
        color: $color-grey;
    }

    .hide-line:after {
        display: none;
    }

    .ar & {
        transform: translateX(-100%);
    }

    @include respond-to('medium') {
        right: 0;
        left: inherit;

        width: 63vw;
        max-width: rem(895px, 'medium');

        .ar & {
            right: inherit;
            left: 0;
        }
    }
}

.content {
    opacity: 0;
}

.button-close {
    z-index: 10;

    position: fixed;
    top: rem(20px, 'small');
    right: rem(16px, 'small');

    .ar & {
        right: inherit;
        left: rem(16px, 'small');
    }

    @include respond-to('medium') {
        top: rem(38px, 'medium');
        right: rem(24px, 'medium');

        .ar & {
            right: inherit;
            left: rem(24px, 'medium');
        }
    }

    @include respond-to('large') {
        top: rem(38px, 'large');
        right: rem(40px, 'large');

        .ar & {
            left: rem(24px, 'large');
        }
    }
}

.points {
    display: flex;

    margin-bottom: rem(51px, 'small');

    @include respond-to('medium') {
        margin-bottom: rem(51px, 'medium');
    }

    @include respond-to('large') {
        margin-bottom: rem(51px, 'large');
    }

    .point {
        width: rem(2px, 'small');
        height: rem(8.74px, 'small');

        background: var(--color-theme-secondary);

        @include respond-to('medium') {
            width: rem(2px, 'medium');
            height: rem(10px, 'medium');
        }

        @include respond-to('large') {
            width: rem(2px, 'large');
            height: rem(10px, 'large');
        }

        &:first-child {
            margin-right: rem(130px, 'small');

            @include respond-to('medium') {
                margin-right: rem(130px, 'medium');
            }

            @include respond-to('large') {
                margin-right: rem(130px, 'large');
            }

            .ar & {
                margin-right: 0;
                margin-left: rem(130px, 'small');

                @include respond-to('medium') {
                    margin-right: rem(130px, 'medium');
                }

                @include respond-to('large') {
                    margin-right: rem(130px, 'large');
                }
            }
        }

        &:last-child {
            margin-left: rem(63px, 'small');

            @include respond-to('medium') {
                margin-left: rem(63px, 'medium');
            }

            @include respond-to('large') {
                margin-left: rem(63px, 'large');
            }

            .ar & {
                margin-right: rem(63px, 'small');
                margin-left: 0;

                @include respond-to('medium') {
                    margin-right: rem(63px, 'medium');
                }

                @include respond-to('large') {
                    margin-right: rem(63px, 'large');
                }
            }
        }
    }
}

.introduction {
    display: flex;
    flex-direction: column;

    .h1 {
        max-width: rem(200px, 'small');

        margin-bottom: rem(56px, 'small');

        font-size: rem(45px);

        color: var(--color-theme-primary);

        .split-line{
            opacity: 0;
        }

        @include respond-to('medium') {
            max-width: rem(450px, 'medium');

            margin-bottom: rem(56px, 'medium');

            font-size: rem(70px, 'medium');
        }

        @include respond-to('large') {
            max-width: rem(450px, 'large');

            margin-bottom: rem(56px, 'large');

            font-size: rem(70px, 'large');
        }
    }

    .p1 {
        opacity: 0;

        max-width: rem(269px, 'small');

        margin-right: rem(100px, 'small');

        @include respond-to('medium') {
            align-self: flex-end;

            max-width: rem(392px, 'medium');

            margin-right: rem(100px, 'medium');
        }
        @include respond-to('large') {
            max-width: rem(460px, 'large');

            margin-right: rem(40px, 'large');
        }
        .ar & {
            margin-right: 0;
            margin-left: rem(100px, 'small');

            @include respond-to('medium') {
                margin-left: rem(100px, 'medium');
            }

            @include respond-to('large') {
                margin-left: rem(100px, 'large');
            }
        }
    }
}

.charts-list {
    opacity: 0;
}

.articles {
    margin-bottom: rem(119px, 'small');

    @include respond-to('medium') {
        margin-bottom: rem(170px, 'medium');
    }

    @include respond-to('large') {
        margin-bottom: rem(170px, 'large');
    }

    .h8 {
        margin-bottom: rem(55px, 'small');

        color: var(--color-theme-primary);

        @include respond-to('medium') {
            margin-bottom: rem(38px, 'medium');
        }

        @include respond-to('large') {
            margin-bottom: rem(38px, 'large');
        }
    }

    .slider-header {
        display: flex;

        justify-content: space-between;
        align-items: center;

        margin-bottom: rem(26px, 'small');

        padding-right: rem(18px, 'small');
        padding-left: rem(18px, 'small');

        @include respond-to('medium') {
            margin-bottom: rem(40px, 'medium');

            padding-right: rem(62px, 'medium');
            padding-left: rem(62px, 'medium');
        }

        @include respond-to('large') {
            margin-bottom: rem(40px, 'large');

            padding-right: rem(62px, 'large');
            padding-left: rem(62px, 'large');
        }

        .slider-navigation {
            .button-arrow:not(:last-child) {
                margin-right: rem(8px, 'small');

                @include respond-to('medium') {
                    margin-right: rem(8px, 'medium');
                }

                @include respond-to('large') {
                    margin-right: rem(8px, 'large');
                }

                .ar & {
                    margin-right: 0;
                    margin-left: rem(8px, 'small');

                    @include respond-to('medium') {
                        margin-left: rem(8px, 'medium');
                    }

                    @include respond-to('large') {
                        margin-left: rem(8px, 'large');
                    }
                }
            }
        }
    }

    .slider {
        padding-left: rem(18px, 'small');

        .ar & {
            padding-right: rem(18px, 'small');
            padding-left: 0;
        }

        @include respond-to('medium') {
            padding-left: rem(62px, 'medium');

            .ar & {
                padding-right: rem(62px, 'medium');
            }
        }

        @include respond-to('large') {
            padding-left: rem(62px, 'large');

            .ar & {
                padding-right: rem(62px, 'large');
            }
        }
    }
}

.pagination {
    display: flex;

    justify-content: space-between;
    align-items: stretch;

    &.right {
        justify-content: flex-end;
    }

    &.left {
        justify-content: flex-start;
    }
}
