.button-modal {
    text-align: left;
    &:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;
    }
}

.line {
    display: block;
    max-width: 163px;
    width: calc(50vw - rem(32px, 'small'));
    height: 1px;
    margin-top: rem(8px, 'small');
    background-color: var(--color-theme-primary);
    opacity: 0.7;
    @include respond-to('medium') {
        max-width: inherit;
        width: rem(232px, 'medium');
        margin-top: rem(8px, 'medium');
    }
    @include respond-to('large') {
        width: rem(232px, 'large');
        margin-top: rem(8px, 'large');
    }
}
