.list-categories {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    @include respond-to('medium') {
        justify-content: center;
        align-items: center;
    }
}

.list-item {
    padding-left: rem(10px, 'small');
    padding-right: rem(10px, 'small');
    @include respond-to('medium') {
        padding-left: rem(10px, 'medium');
        padding-right: rem(10px, 'medium');
    }
    @include respond-to('large') {
        padding-left: rem(10px, 'large');
        padding-right: rem(10px, 'large');
    }
}
