.button-discover {
    display: block;
    pointer-events: all;
    position: absolute;
    bottom: 95%;
    right: rem(16px, 'small');
    width: auto;

    .ar & {
        left: rem(16px, 'small');
        right: unset;
    }
}

.slider-subcategories {
    width: 100%;
    height: 100%;

    padding-right: rem(16px, 'small');
    padding-left: rem(16px, 'small');
}

.slider-content {

    position: relative;

    margin-right: rem(47px, 'small');

    /** overflow: hidden; **/

    .ar & {
        margin-left: rem(47px, 'small');
        margin-right: inherit;
    }
}

.slider-subcategory-title {
    max-width: rem(400px, 'small');

    padding-bottom: rem(11px, 'small');

    font-size: rem(14px, 'small');
    line-height: rem(18px, 'small');
    color: var(--color-theme-secondary);
}

.slider-navigation {
    display: inline-flex;

    gap: rem(9px, 'small');

    width: 100%;

    margin-top: rem(15px, 'small');
}

.button-navigation {
    display: flex;

    position: relative;

    justify-content: center;
    align-items: center;

    width: rem(56px, 'small');
    height: rem(56px, 'small');

    pointer-events: all;

    &::before {
        content: '';

        display: block;

        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border: 1px solid var(--color-theme-secondary);
        border-radius: 50%;

        transition: transform 0.5s $quart-out, opacity 0.5s $sine-in-out;

        opacity: 0.5;
    }

    &::after {
        content: '';

        display: block;

        width: 0;
        height: 0;

        margin-left: 1px;

        border-left: rem(4px, 'small') solid transparent;
        border-right: rem(4px, 'small') solid transparent;
        border-top: rem(4px, 'small') solid $color-white;

        transition: border-top-color 0.3s $sine-in-out, opacity 0.3s $sine-in-out;
    }

    &.button-navigation-left {
        &::after {
            transform: rotate(90deg);

            .ar & {
                transform: rotate(-90deg);
            }
        }
    }

    &.button-navigation-right {
        &::after {
            transform: rotate(-90deg);
            margin-top: 1px;

            .ar & {
                transform: rotate(90deg);
            }
        }
    }

    &:disabled {
        cursor: inherit;
        pointer-events: none;

        &::before {
            opacity: 0.2;
        }
    }

    @include hover() {
        &::before {
            opacity: 1;

            transform: scale(1.1);
        }

        &::after {
            border-top-color: var(--color-theme-secondary);
        }
    }
}
