.slider-categories {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    bottom: rem(100px, 'small');

    width: 100%;

    padding-left: rem(18px, 'small');

    overflow: visible;

    z-index: 0;

    pointer-events: all;

    .ar & {
        padding-left: 0;
        padding-right: rem(18px, 'small');
    }

    @include respond-to('medium') {
        bottom: rem(100px, 'medium');

        padding-left: rem(62px, 'medium');

        .ar & {
            padding-right: rem(62px, 'medium');
        }
    }

    @include respond-to('large') {
        bottom: rem(100px, 'large');

        padding-left: rem(62px, 'large');

        .ar & {
            padding-right: rem(62px, 'large');
        }
    }

    .swiper-slide {
        width: calc(75vw - 8px);
        width: auto;

        flex-shrink: inherit;

        white-space: nowrap;

        padding: 0 rem(8px, 'small');

        @include respond-to('medium') {
            padding: 0 rem(8px, 'medium');
        }

        @include respond-to('large') {
            padding: 0 rem(8px, 'large');
        }

        &:last-child {
            max-width: 100%;
            width: calc(100vw - 16px);

            .list-item-subcategory {
                width: calc(100vw - 16px);

                .button {
                    width: calc(75vw - 8px);
                }
            }
        }

        &.swiper-slide-active {
            .list-item-category .button {
                opacity: 1;
            }
        }

        .list-item-category {
            width: auto;
            padding: 0;

            .button {
                opacity: 0.5;

                color: $color-white;

                text-align: left;
                white-space: inherit;

                .ar & {
                    text-align: right;
                }
            }
        }
    }
}
