.button-back {
    display: inline-flex;
    align-items: center;
    &:hover {
        .text {
            &.text-init {
                opacity: 0;
                transform: translate3d(0, -50%, 0);
                transition: opacity 0.25s ease-out, transform 0.25s ease-out;
            }
            &.text-hover {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: opacity 0.25s ease-out, transform 0.25s ease-out;
            }
        }
        .icon-arrow {
            border: 1px solid var(--color-theme-secondary);
            transition: border 0.25s ease-out;
            .arrow {
                fill: var(--color-theme-secondary);
                transition: fill 0.25s ease-out;
                &.arrow-init {
                    animation: anim-back-arrow-init-disappear 0.45s ease-out;
                    .ar & {
                        animation: anim-back-arrow-init-disappear-ar 0.45s ease-out;
                    }
                }
                &.arrow-hover {
                    animation: anim-back-arrow-hover-disappear 0.45s ease-out;
                    .ar & {
                        animation: anim-back-arrow-hover-disappear-ar 0.45s ease-out;
                    }
                }
            }
        }
    }
    .p3 {
        position: relative;
    }
    .text {
        display: block;
        margin-bottom: rem(5px, 'small');
        &.text-init {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: opacity 0.25s ease-in, transform 0.25s ease-in;
        }
        &.text-hover {
            position: absolute;
            top: 0;
            left: 0;
            color: var(--color-theme-secondary);
            opacity: 0;
            transform: translate3d(0, 50%, 0);
            transition: opacity 0.25s ease-in, transform 0.25s ease-in;
            .ar & {
                left: inherit;
                right: 0;
            }
        }
        @include respond-to('medium') {
            margin-bottom: rem(5px, 'medium');
        }
        @include respond-to('large') {
            margin-bottom: rem(5px, 'large');
        }
    }
    .icon-arrow {
        position: relative;
        width: rem(32px, 'small');
        min-width: rem(32px, 'small');
        height: rem(32px, 'small');
        min-height: rem(32px, 'small');
        margin-right: rem(23px, 'small');
        border: 1px solid $color-grey;
        border-radius: 100%;
        overflow: hidden;
        @include respond-to('medium') {
            width: rem(32px, 'medium');
            min-width: rem(32px, 'medium');
            height: rem(32px, 'medium');
            min-height: rem(32px, 'medium');
            margin-right: rem(23px, 'medium');
        }
        @include respond-to('large') {
            width: rem(32px, 'large');
            min-width: rem(32px, 'large');
            height: rem(32px, 'large');
            min-height: rem(32px, 'large');
            margin-right: rem(23px, 'large');
        }
        .ar & {
            margin-right: 0;
            margin-left: rem(23px, 'small');
            @include respond-to('medium') {
                margin-left: rem(23px, 'medium');
            }
            @include respond-to('large') {
                margin-left: rem(23px, 'large');
            }
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        padding: rem(8px, 'small');
        fill: $color-grey;
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg);
        animation: anim-back-arrow-init-appear 0.45s ease-out;
        .ar & {
            transform: translate3d(-50%, -50%, 0);
            animation: anim-back-arrow-init-appear-ar 0.45s ease-out;
        }
        @include respond-to('medium') {
            padding: rem(8px, 'medium');
        }
        @include respond-to('large') {
            padding: rem(8px, 'large');
        }
        &.arrow-hover {
            transform: translate3d(50%, -50%, 0) rotate3d(0, 0, 1, 180deg);
            animation: anim-back-arrow-hover-appear 0.45s ease-out;
            .ar & {
                transform: translate3d(50%, -50%, 0);
                animation: anim-back-arrow-hover-appear-ar 0.45s ease-out;
            }
        }
        @keyframes anim-back-arrow-init-appear {
            0% { transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg); }
            100% { transform: translate3d(-150%, -50%, 0) rotate3d(0, 0, 1, 180deg); }
        }
        @keyframes anim-back-arrow-init-disappear {
            0% { transform: translate3d(50%, -50%, 0) rotate3d(0, 0, 1, 180deg); }
            100% { transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg); }
        }
        @keyframes anim-back-arrow-hover-appear {
            0% { transform: translate3d(50%, -50%, 0) rotate3d(0, 0, 1, 180deg); }
            100% { transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg); }
        }
        @keyframes anim-back-arrow-hover-disappear {
            0% { transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg); }
            100% { transform: translate3d(-150%, -50%, 0) rotate3d(0, 0, 1, 180deg); }
        }

        @keyframes anim-back-arrow-init-appear-ar {
            0% { transform: translate3d(-50%, -50%, 0); }
            100% { transform: translate3d(50%, -50%, 0); }
        }
        @keyframes anim-back-arrow-init-disappear-ar {
            0% { transform: translate3d(-150%, -50%, 0); }
            100% { transform: translate3d(-50%, -50%, 0); }
        }
        @keyframes anim-back-arrow-hover-appear-ar {
            0% { transform: translate3d(-150%, -50%, 0); }
            100% { transform: translate3d(-50%, -50%, 0); }
        }
        @keyframes anim-back-arrow-hover-disappear-ar {
            0% { transform: translate3d(-50%, -50%, 0); }
            100% { transform: translate3d(50%, -50%, 0); }
        }
    }

}
