.page {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.container-page {
    width: calc(100vw - #{rem(16px * 2, 'small')});

    margin: auto;

    @include respond-to('medium') {
        width: calc(100vw - #{rem(53px * 2, 'medium')});
    }

    @include respond-to('large') {
        width: calc(100vw - #{rem(53px * 2, 'large')});
    }
}

dddd-container {
    display: none !important;
}