.section {
    position: relative;

    padding-top: rem(20px, 'small');
    padding-bottom: rem(20px, 'small');
    @include respond-to('medium') {
        padding-top: rem(40px, 'medium');
        padding-bottom: rem(62px, 'medium');
    }
    @include respond-to('large') {
        padding-top: rem(45px, 'large');
        padding-bottom: rem(62px, 'large');
    }
    &::after {
        opacity: 0.15;

        display: block;
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;

        background-color: $color-grey;
        content: '';
    }
}

.section-container {
    padding-right: rem(18px, 'small');
    padding-left: rem(18px, 'small');
    @include respond-to('medium') {
        padding-right: rem(62px, 'medium');
        padding-left: rem(62px, 'medium');
    }
    @include respond-to('large') {
        padding-right: rem(62px, 'large');
        padding-left: rem(120px, 'large');
    }
}
