.panel-year {
    position: fixed;
    top: inherit;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: $color-white;
    .ar & {
        right: 0;
        left: inherit;
    }
    @include respond-to('medium') {
        top: 0;
        left: 0;
        width: 285px;
        height: 100vh;
        .ar & {
            right: 0;
            left: inherit;
        }
    }
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 0;
    @include respond-to('medium') {
        padding: 36px 28px 28px 53px;
        .ar & {
            padding: 36px 53px 28px 28px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: none;
        width: 100%;
        height: 1px;
        background-color: $color-grey;
        opacity: 0.15;
        .ar & {
            right: 0;
            left: inherit;
        }
        @include respond-to('medium') {
            display: block;
        }
    }
}

.label {
    color: color-from-theme('green', 'primary');
}
