.highlights {
    position: absolute;
    top: rem(150px, 'large');
    right: rem(100px, 'large');

    width: rem(150px, 'large');

    > li {
        margin-bottom: rem(30px, 'large');
    }
}

.title {
    display: block;

    line-height: 1.2em;

    margin-bottom: rem(5px, 'large');
}

.value {
    display: block;
    font-size: rem(48px, 'large');
}
