.highlights {
    opacity: 0;

    position: absolute;
    top: rem(150px, 'large');
    left: 75%;
    right: auto;

    width: rem(150px, 'large');

    .ar & {
        right: 75%;
        left: auto;

        text-align: left;
    }

    > li {
        margin-bottom: rem(30px, 'large');
    }
}

.title {
    display: block;

    line-height: 1.2em;

    margin-bottom: rem(5px, 'large');
}

.value {
    display: block;
    font-size: rem(48px, 'large');
}
