.list-entities {
    position: fixed;
    left: 0;
    bottom: rem(189px, 'small');
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    @include respond-to('medium') {
        position: relative;
        left: inherit;
        bottom: inherit;
        display: inherit;
        flex-wrap: inherit;
        width: inherit;
        margin-top: rem(16px, 'medium');
        overflow: inherit;
    }
    @include respond-to('large') {
        margin-top: rem(16px, 'large');
    }
}

.list-item {
    padding : 0 rem(16px, 'small');
    @include respond-to('medium') {
        padding : inherit;
    }
    &:not(:last-child) {
        margin-bottom: rem(8px, 'small');
        @include respond-to('medium') {
            margin-bottom: rem(8px, 'medium');
        }
        @include respond-to('large') {
            margin-bottom: rem(8px, 'large');
        }
    }
    .button {
        white-space: nowrap;
        @include respond-to('medium') {
            white-space: inherit;
        }
    }
}
