.template-year {
    position: fixed;
    left: 0;
    top: 0;

    opacity: 0;

    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
}

.button-back {
    position: absolute;
    right: rem(16px, 'small');
    bottom: rem(175px, 'small');

    max-width: 65%;

    @include respond-to('medium') {
        top: 0;
        bottom: 0;
        left: inherit;
        right: rem(50px, 'medium');

        margin: auto 0;
    }

    @include respond-to('large') {
        bottom: 0;
        left: inherit;
        right: rem(50px, 'large');
    }

    .ar & {
        left: rem(16px, 'small');
        right: inherit;

        @include respond-to('medium') {
            left: rem(50px, 'medium');
            right: inherit;
        }

        @include respond-to('large') {
            left: rem(50px, 'large');
            right: inherit;
        }
    }
    .icon {
        position: relative;

        width: rem(56px, 'small');
        min-width: rem(56px, 'small');

        height: rem(56px, 'small');
        min-height: rem(56px, 'small');

        border-color: $color-white;

        @include respond-to('medium') {
            width: rem(56px, 'medium');
            min-width: rem(56px, 'medium');

            height: rem(56px, 'medium');
            min-height: rem(56px, 'medium');
        }

        @include respond-to('large') {
            width: rem(56px, 'large');
            min-width: rem(56px, 'large');

            height: rem(56px, 'large');
            min-height: rem(56px, 'large');
        }

        svg {
            display: block;

            padding: rem(20px, 'small');
            fill: $color-white;

            @include respond-to('medium') {
                display: none;
            }
        }

        &::before {
            content: '';

            display: none;

            position: absolute;
            top: 50%;
            left: 50%;

            background-color: var(--color-theme-secondary);
            border-radius: 50%;

            transform: translate3d(-50%, -50%, 0);

            @include respond-to('medium') {
                display: block;

                width: rem(6px, 'medium');
                height: rem(6px, 'medium');
            }
            @include respond-to('large') {
                width: rem(6px, 'large');
                height: rem(6px, 'large');
            }
        }
    }
}

.button-discover-mobile-container {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    bottom: rem(169px, 'small');
    right: rem(16px, 'small');

    pointer-events: all;

    .ar & {
        right: auto;
        left: rem(16px, 'small');
    }
}
