.label {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    will-change: transform;

    &.left .copy {
        transform: translate(-100%, -50%);

        .ar & {
            transform: translate(0, -50%);
        }
    }

    &.right .copy {
        transform: translate(0, -50%);

        .ar & {
            transform: translate(100%, -50%);
        }
    }

    &.is-hover.blue {
        .button {
            .icon {
                border-color: color-from-theme('blue', 'secondary');

                &:before {
                    background-color: color-from-theme('blue', 'secondary');
                }
            }

            .p3 {
                color: color-from-theme('blue', 'secondary');
            }
        }
    }

    &.is-hover.red {
        .button {
            .icon {
                border-color: color-from-theme('red', 'secondary');

                &:before {
                    background-color: color-from-theme('red', 'secondary');
                }
            }

            .p3 {
                color: color-from-theme('red', 'secondary');
            }
        }
    }

    &.is-hover.green {
        .button {
            .icon {
                border-color: color-from-theme('green', 'secondary');

                &:before {
                    background-color: color-from-theme('green', 'secondary');
                }
            }

            .p3 {
                color: color-from-theme('green', 'secondary');
            }
        }
    }

}

.container-button {
    opacity: 0;
}

.copy {
    position: absolute;
    @include antialised;
    white-space: nowrap;
    .line .char {
        opacity: 0;
        transform: translateY(5px);
    }
}
