ul {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
}

li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.label {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 1px;

    &.left span {
        text-align: right;

        top: rem(-30px);
        left: rem(-20px);

        @include respond-to('medium') {
            top: rem(-30px, 'medium');
            left: rem(-20px, 'medium');
        }

        @include respond-to('large') {
            top: rem(-30px, 'large');
            left: rem(-20px, 'large');
        }

        .ar & {
            transform: translate(-100%, -50%);
        }
    }

    &.right span {
        top: rem(-30px);
        left: rem(20px);

        transform: translate(0, -50%);

        @include respond-to('medium') {
            top: rem(-30px, 'medium');
            left: rem(20px, 'medium');
        }

        @include respond-to('large') {
            top: rem(-30px, 'large');
            left: rem(20px, 'large');
        }

        .ar & {
            transform: translate(100%, -50%);
        }
    }

    span {
        position: absolute;

        width: rem(120px);

        font-size: rem(14px);
        color: var(--color-theme-secondary);
        line-height: 1;

        @include respond-to('medium') {
            width: rem(120px, 'medium');
            font-size: rem(16px, 'medium');
        }

        @include respond-to('large') {
            width: rem(120px, 'large');
            font-size: rem(16px, 'large');
        }
    }
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 1px;
}

.highlight__content {
    position: absolute;

    width: rem(120px);

    transform: translate(0%, -100%);

    @include respond-to('medium') {
        width: rem(120px, 'medium');
    }

    @include respond-to('large') {
        width: rem(120px, 'large');
    }
}

.highlight__value {
    display: block;

    margin-bottom: rem(7px);

    font-weight: 300;
    font-size: rem(32px);

    @include respond-to('medium') {
        margin-bottom: rem(12px, 'medium');
        font-size: rem(36px, 'medium');
    }

    @include respond-to('large') {
        margin-bottom: rem(12px, 'large');
        font-size: rem(36px, 'large');
    }
}

.highlight__title {
    display: block;

    line-height: 1;
    font-size: rem(14px);

    @include respond-to('medium') {
        font-size: rem(16px, 'medium');
    }

    @include respond-to('large') {
        font-size: rem(16px, 'large');
    }
}
