ul {
    position: absolute;

    display: block;
    top: 0;
    left: 0;
}

li {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 1px;

    &.left span {
        text-align: right;

        top: rem(-30px, 'large');
        left: rem(-20px, 'large');

        transform: translate(-100%, -50%);

        .ar & {
            transform: translate(0, -50%);
        }
    }

    &.right span {
        top: rem(-30px, 'large');
        left: rem(20px, 'large');

        transform: translate(0, -50%);

        .ar & {
            transform: translate(100%, -50%);
        }
    }
}

span {
    position: absolute;

    width: rem(120px, 'large');

    font-size: rem(16px, 'large');
    color: var(--color-theme-secondary);
    line-height: 1;
}
