.charts {
    &.section {
        padding: 0;
    }
    .p2 {
        padding-top: rem(24px, 'small');
        @include respond-to('medium') {
            padding-top: rem(48px, 'medium');
        }
        @include respond-to('large') {
            padding-top: rem(48px, 'large');
        }
    }
    .subtitle {
        padding-top: rem(8px, 'small');
        @include respond-to('medium') {
            padding-top: rem(8px, 'medium');
        }
        @include respond-to('large') {
            padding-top: rem(8px, 'large');
        }
    }
    .charts-container {
        display: flex;
        gap: rem(90px, 'small');
        margin: 0 auto;
        @include respond-to('medium') {
            gap: 0;
        }
    }
    .scroll-indicator {
        position: absolute;
        right: rem(60px, 'large');
        bottom: rem(40px, 'large');

        width: rem(25px, 'large');
        height: rem(18px, 'large');

        svg {
            width: 100%;
        }
    }
    .charts-item {
        width: 100%;
        height: 100%;

        &.donutchart {
            .p2 {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                height: rem(100px);

                @include respond-to('medium') {
                    height: rem(100px, 'medium');
                }
                @include respond-to('large') {
                    height: rem(100px, 'large');
                }
            }
        }
    }
}
