.charts {
    &.section {
        padding: 0;
    }
    .p2 {
        padding-top: 24px;
        @include respond-to('medium') {
            padding-top: 48px;
        }
    }
    .subtitle {
        padding-top: 8px;
    }
    .charts-container {
        display: flex;
        gap: 90px;
        @include respond-to('medium') {
            gap: 0;
        }
    }
}
