.slider-subcategories {
    display: flex;

    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    padding-right: rem(16px, 'small');
    padding-bottom: rem(100px, 'small');
    padding-left: rem(16px, 'small');

    @include respond-to('medium') {
        align-items: flex-start;
        justify-content: inherit;

        padding-right: inherit;
        padding-bottom: inherit;
        padding-left: rem(53px, 'medium');
    }

    @include respond-to('large') {
        padding-left: rem(53px, 'large');
    }

    .ar & {
        @include respond-to('medium') {
            padding-left: inherit;
            padding-right: rem(53px, 'medium');
        }

        @include respond-to('large') {
            padding-right: rem(53px, 'large');
        }
    }
}

.slider-content {
    position: relative;

    order: 1;

    margin-right: rem(47px, 'small');

    @include respond-to('medium') {
        order: 2;

        width: rem(250px, 'medium');

        margin-right: inherit;
        margin-left: rem(47px, 'medium');

    }

    @include respond-to('large') {
        width: rem(300px, 'large');

        margin-left: rem(47px, 'large');
    }

    .ar & {
        margin-left: rem(47px, 'small');
        margin-right: inherit;

        @include respond-to('medium') {
            margin-left: inherit;
            margin-right: rem(47px, 'medium');
        }

        @include respond-to('large') {
            margin-left: inherit;
            margin-right: rem(47px, 'large');
        }
    }
}

.slider-subcategory-title {
    max-width: rem(400px, 'small');

    padding-bottom: rem(11px, 'small');

    font-size: rem(24px, 'small');
    line-height: rem(30px, 'small');
    color: var(--color-theme-secondary);
    font-weight: 400;

    @include respond-to('medium') {
        max-width: rem(400px, 'medium');

        padding-bottom: rem(10px, 'medium');

        font-size: rem(13px, 'medium');
        line-height: rem(16px, 'medium');
    }

    @include respond-to('large') {
        max-width: rem(400px, 'large');

        padding-bottom: rem(10px, 'large');

        font-size: rem(13px, 'large');
        line-height: rem(16px, 'large');
    }
}

.slider-navigation {
    display: flex;

    order: 2;
    flex-direction: column;
    align-items: center;

    gap: rem(9px, 'small');

    @include respond-to('medium') {
        margin-top: rem(20px, 'medium');

        gap: rem(9px, 'medium');
        order: 1;
    }

    @include respond-to('large') {
        margin-top: rem(20px, 'large');

        gap: rem(9px, 'large');
    }
}

.button-navigation {
    display: flex;

    position: relative;

    justify-content: center;
    align-items: center;

    width: rem(56px, 'small');
    height: rem(56px, 'small');

    pointer-events: all;

    @include respond-to('medium') {
        width: rem(32px, 'medium');
        height: rem(32px, 'medium');
    }

    @include respond-to('large') {
        width: rem(32px, 'large');
        height: rem(32px, 'large');
    }

    &::before {
        content: '';

        display: block;

        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border: 1px solid var(--color-theme-secondary);
        border-radius: 50%;

        transition: transform 0.5s $quart-out, opacity 0.5s $sine-in-out;

        opacity: 0.3;
    }

    &::after {
        content: '';

        display: block;

        width: 0;
        height: 0;

        margin-left: 3px;

        border-left: rem(4px, 'small') solid transparent;
        border-right: rem(4px, 'small') solid transparent;
        border-top: rem(4px, 'small') solid $color-white;

        transition: border-top-color 0.3s $sine-in-out, opacity 0.3s $sine-in-out;

        @include respond-to('medium') {
            border-left: rem(4px, 'medium') solid transparent;
            border-right: rem(4px, 'medium') solid transparent;
            border-top: rem(4px, 'medium') solid $color-white;
        }

        @include respond-to('large') {
            border-left: rem(4px, 'large') solid transparent;
            border-right: rem(4px, 'large') solid transparent;
            border-top: rem(4px, 'large') solid $color-white;
        }
    }

    &.button-navigation-top {
        &::after {
            transform: scaleY(-1);
        }
    }

    &.button-navigation-bottom {
        &::after {
            transform: scaleY(1);
            margin-top: 2px;
        }
    }

    &:disabled {
        cursor: inherit;
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        &::before {
            opacity: 1;

            transform: scale(1.1);
        }

        &::after {
            border-top-color: var(--color-theme-secondary);
        }
    }
}
