.chart-kpi {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: rem(77px, 'small');
    margin-bottom: rem(96px, 'small');
    @include respond-to('medium') {
        width: rem(887px, 'medium');
        margin-top: rem(75px, 'medium');
        margin-bottom: rem(66px, 'medium');
    }
    @include respond-to('large') {
        width: rem(887px, 'large');
        margin-top: rem(75px, 'large');
        margin-bottom: rem(66px, 'large');
    }
    .item-head {
        display: flex;
        align-items: center;
        margin-right: rem(8px, 'small');
        @include respond-to('medium') {
            margin-right: rem(8px, 'medium');
        }
        @include respond-to('large') {
            margin-right: rem(8px, 'large');
        }
        .icon {
            padding-right: rem(10px, 'small');
            @include respond-to('medium') {
                padding-right: rem(10px, 'medium');
            }
            @include respond-to('large') {
                padding-right: rem(10px, 'large');
            }
            .ar & {
                padding-left: rem(10px, 'small');
                padding-right: 0;
                @include respond-to('medium') {
                    padding-left: rem(10px, 'medium');
                }
                @include respond-to('large') {
                    padding-left: rem(10px, 'large');
                }
            }
        }
    }
    .title {
        color: color-from-theme('green', 'primary');
    }
    .label {
        color: $color-grey;
    }
    .additional {
        position: relative;
        padding-right: rem(15px, 'small');
        @include respond-to('medium') {
            padding-right: rem(15px, 'medium');
        }
        @include respond-to('large') {
            padding-right: rem(15px, 'large');
        }
        color: color-from-theme('green', 'secondary');
        .ar & {
            padding-left: 0;
            padding-right: rem(15px, 'small');
            @include respond-to('medium') {
                padding-right: rem(15px, 'medium');
            }
            @include respond-to('large') {
                padding-right: rem(15px, 'large');
            }
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 50%;
            left: 0;
            display: block;
            width: 0;
            height: 0;
            border-left: rem(4px, 'small') solid transparent;
            border-right: rem(4px, 'small') solid transparent;
            border-bottom: rem(4px, 'small') solid color-from-theme('green', 'secondary');
            transform: translate3d(0, 100%, 0);
            @include respond-to('medium') {
                border-left: rem(4px, 'medium') solid transparent;
                border-right: rem(4px, 'medium') solid transparent;
                border-bottom: rem(4px, 'medium') solid color-from-theme('green', 'secondary');
            }
            @include respond-to('large') {
                border-left: rem(4px, 'large') solid transparent;
                border-right: rem(4px, 'large') solid transparent;
                border-bottom: rem(4px, 'large') solid color-from-theme('green', 'secondary');
            }
            .ar & {
                left: inherit;
                right: 0;
            }
        }
    }
    .main {
        width: 100%;
        margin-bottom: rem(30px, 'small');
        @include respond-to('medium') {
            width: rem(272px, 'medium');
            margin-bottom: rem(30px, 'medium');
        }
        @include respond-to('large') {
            width: rem(272px, 'large');
            margin-bottom: rem(30px, 'large');
        }
    }
    .second {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @include respond-to('medium') {
            width: rem(392px, 'medium');
        }
        @include respond-to('large') {
            width: rem(392px, 'large');
        }
        .item {
            width: 50%;
            margin-bottom: rem(30px, 'small');
            @include respond-to('medium') {
                width: rem(181px, 'medium');
                margin-bottom: rem(30px, 'medium');
            }
            @include respond-to('large') {
                width: rem(181px, 'large');
                margin-bottom: rem(30px, 'large');
            }
        }
    }
}
