.chart-kpi {
    position: relative;

    width: 100%;

    margin-top: rem(77px, 'small');
    margin-bottom: rem(96px, 'small');

    @include respond-to('medium') {
        width: rem(887px, 'medium');
        margin-top: rem(75px, 'medium');
        margin-bottom: rem(66px, 'medium');
    }

    @include respond-to('large') {
        width: rem(887px, 'large');
        margin-top: rem(75px, 'large');
        margin-bottom: rem(66px, 'large');
    }
}

.content {
    position: relative;

    width: 100%;

    @include respond-to('medium') {
        display: grid;
        grid-template-columns: rem(280px, 'medium') 50%;
    }

    @include respond-to('large') {
        grid-template-columns: rem(280px, 'large') 50%;
    }
}

.highlight {
    margin-bottom: rem(30px);

    @include respond-to('medium') {
        margin-bottom: rem(0);
    }

    .value {
        width: 80%;
    }
}

.values {
    .row {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: end;

        > li {
            .label {
                width: 80%;
            }

            .label {
                margin-bottom: rem(4px);

                @include respond-to('medium') {
                    margin-bottom: rem(4px, 'medium');
                }

                @include respond-to('large') {
                    margin-bottom: rem(4px, 'large');
                }
            }

            &:nth-child(4n), &:nth-child(4n-1)  {
                margin-bottom: rem(15px);

                @include respond-to('medium') {
                    margin-bottom: rem(25px, 'medium');
                }

                @include respond-to('large') {
                    margin-bottom: rem(25px, 'large');
                }
            }
        }
    }

    .row--value {
        align-self: start;
    }
}

.label {
    display: grid;
    align-items: end;

    &.with-icon {
        grid-template-columns: rem(35px, 'large') auto;
    }
}

.label__icon {
    width: 75%;
}

.label__text {
    color: $color-grey;
    display: block;
}

.value {
    display: block;

    color: var(--color-theme-primary);
    line-height: 1em;

    margin-bottom: rem(9px);

    @include respond-to('medium') {
        margin-bottom: rem(9px, 'medium');
    }

    @include respond-to('large') {
        margin-bottom: rem(9px, 'large');
    }
}

.change {
    display: block;
    position: relative;

    padding-left: rem(13px, 'small');

    color: var(--color-theme-secondary);

    @include respond-to('medium') {
        padding-left: rem(13px, 'medium');
    }

    @include respond-to('large') {
        padding-left: rem(13px, 'large');
    }

    .ar & {
        padding-left: 0;
        padding-right: rem(15px, 'small');

        @include respond-to('medium') {
            padding-right: rem(15px, 'medium');
        }

        @include respond-to('large') {
            padding-right: rem(15px, 'large');
        }
    }

    &.down {
        &:before {
            transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 180deg);
        }
    }

    &:before {
        content: '';

        display: block;

        position: absolute;
        bottom: 50%;
        left: 0;

        width: 0;
        height: 0;

        border-left: rem(4px, 'small') solid transparent;
        border-right: rem(4px, 'small') solid transparent;
        border-bottom: rem(4px, 'small') solid var(--color-theme-secondary);

        transform: translate3d(0, 100%, 0);

        @include respond-to('medium') {
            border-left: rem(4px, 'medium') solid transparent;
            border-right: rem(4px, 'medium') solid transparent;
            border-bottom: rem(4px, 'medium') solid var(--color-theme-secondary);
        }

        @include respond-to('large') {
            border-left: rem(4px, 'large') solid transparent;
            border-right: rem(4px, 'large') solid transparent;
            border-bottom: rem(4px, 'large') solid var(--color-theme-secondary);
        }

        .ar & {
            left: inherit;
            right: 0;
        }
    }
}

.tooltip {
    position: absolute;
    width: fit-content;
    max-width: rem(180px, 'small');
    padding: rem(8px, 'small') rem(12px, 'small') rem(12px, 'small');
    background-color: var(--color-theme-primary);
    border-radius: rem(4px, 'small');
    color: $color-white;
    opacity: 0;
    transform: translate(-50%, -100%);
    pointer-events: none;
    z-index: 3;
    @include respond-to('medium') {
        max-width: rem(180px, 'medium');
        padding: rem(8px, 'medium') rem(12px, 'medium') rem(12px, 'medium');
        border-radius: rem(4px, 'medium');
    }
    @include respond-to('large') {
        max-width: rem(180px, 'large');
        padding: rem(8px, 'large') rem(12px, 'large') rem(12px, 'large');
        border-radius: rem(4px, 'large');
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        border-left-width: rem(9px, 'small');
        border-left-style: solid;
        border-left-color: transparent;
        border-right-width: rem(9px, 'small');
        border-right-style: solid;
        border-right-color: transparent;
        border-top-width: rem(9px, 'small');
        border-top-style: solid;
        border-top-color: var(--color-theme-primary);
        transform: translate(-50%, calc(100% - 1px));
        @include respond-to('medium') {
            border-left-width: rem(9px, 'medium');
            border-right-width: rem(9px, 'medium');
            border-top-width: rem(9px, 'medium');
        }
        @include respond-to('large') {
            border-left-width: rem(9px, 'large');
            border-right-width: rem(9px, 'large');
            border-top-width: rem(9px, 'large');
        }
    }
}
