.slide-entity-mobile {
    position: relative;

    pointer-events: all;

    white-space: normal;

    width: rem(200px, 'small');
}

.slide-entity-title {
    color: var(--color-theme-primary);
}

.slide-entity-title.active {
    opacity: 0;

    position: absolute;
    left: 0;
    top: 0;

    color: $color-white;

    .ar & {
        right: 0;
    }
}
