.button-entity {
    color: color-from-theme('green', 'primary');
    font-weight: 300;

    transition: color 0.3s ease-out;

    &:hover {
        color: color-from-theme('green', 'secondary');
    }

    &.selected {
        color: white;
    }
}
