.button {
    opacity: 0;
    visibility: hidden;

    pointer-events: all;

    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 1px;

    &:hover {
        .button__icon {
            &:after {
                transform: scale(0.6);
            }
        }
        .button__label {
            transform: translate3d(rem(3px), 0, 0);

            .ar & {
                transform: translate3d(rem(-5px), 0, 0);
            }

            @include respond-to('medium') {
                transform: translate3d(rem(-5px, 'medium'), 0, 0);

                .ar & {
                    transform: translate3d(rem(-5px, 'medium'), 0, 0);
                }
            }

            @include respond-to('large') {
                transform: translate3d(rem(5px, 'large'), 0, 0);

                .ar & {
                    transform: translate3d(rem(-5px, 'large'), 0, 0);
                }
            }
        }
    }

    .button__content {
        position: absolute;

        @include respond-to('medium') {
            height: rem(55px, 'medium');
        }

        @include respond-to('large') {
            height: rem(55px, 'large');
        }
    }

    &.left .button__content {
        transform: translate(-100%, 0%);

        .ar & {
            transform: translate(0%, 0%);
        }
    }

    &.right .button__content {
        .ar & {
            transform: translate(100%, 0%);
        }
    }

    .button__icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        canvas {
            width: 100%;
            height: 100%;
        }

        @include respond-to('medium') {
            width: rem(70px, 'medium');
            height: rem(70px, 'medium');
        }

        @include respond-to('large') {
            width: rem(70px, 'large');
            height: rem(70px, 'large');
        }
    }

    &.left .button__icon {
        left: auto;
        right: 0;
    }

    .button__label {
        display: block;
        transition: transform 0.6s ease-out;
        text-align: left;
        color: var(--color-theme-secondary);

        @include respond-to('medium') {
            padding-left: rem(82px, 'medium');

            width: rem(250px, 'medium');

            font-size: rem(16px, 'medium');
            line-height: rem(49px, 'medium');
        }

        @include respond-to('large') {
            padding-left: rem(82px, 'large');

            width: rem(250px, 'large');

            font-size: rem(16px, 'large');
            line-height: rem(49px, 'large');
        }
    }

    &.left .button__label {
        text-align: right;

        @include respond-to('medium') {
            padding-right: rem(82px, 'medium');
            padding-left: 0;
        }

        @include respond-to('large') {
            padding-right: rem(82px, 'large');
            padding-left: 0;
        }
    }
}
