.button-pagination {
    opacity: 0;
    visibility: hidden;

    display: inline-flex;
    align-items: center;
    transition: opacity 0.3s ease-in-out;

    @include hover {
        opacity: 0.7;
    }

    &.right {
        .icon-arrow {
            order: 2;
            margin-right: 0;
            margin-left: rem(23px, 'small');
            @include respond-to('medium') {
                margin-left: rem(23px, 'medium');
            }
            @include respond-to('large') {
                margin-left: rem(23px, 'large');
            }
            .ar & {
                margin-right: rem(23px, 'small');
                margin-left: 0;
                @include respond-to('medium') {
                    margin-right: rem(23px, 'medium');
                }
                @include respond-to('large') {
                    margin-right: rem(23px, 'large');
                }
            }
        }
        .p3 {
            order: 1;
            text-align: right;
            .ar & {
                text-align: left;
            }
        }
    }
}

.icon-arrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(56px, 'small');
    min-width: rem(56px, 'small');
    height: rem(56px, 'small');
    min-height: rem(56px, 'small');

    margin-right: rem(23px, 'small');

    border: 1px solid $color-grey;
    border-radius: 100%;

    @include respond-to('medium') {
        width: rem(32px, 'medium');
        min-width: rem(32px, 'medium');
        height: rem(32px, 'medium');
        min-height: rem(32px, 'medium');

        margin-right: rem(23px, 'medium');
    }
    @include respond-to('large') {
        width: rem(32px, 'large');
        min-width: rem(32px, 'large');
        height: rem(32px, 'large');
        min-height: rem(32px, 'large');

        margin-right: rem(23px, 'large');
    }
    .ar & {
        margin-right: 0;
        margin-left: rem(23px, 'small');
        @include respond-to('medium') {
            margin-left: rem(23px, 'medium');
        }
        @include respond-to('large') {
            margin-left: rem(23px, 'large');
        }
    }
}

.arrow {
    fill: $color-grey;

    .ar & {
        transform: scaleX(-1);
    }

    &.left {
        transform: scaleX(-1);

        .ar & {
            transform: scaleX(1);
        }
    }
}

.label {
    margin-bottom: .5rem;
}
