.panel-search {
    position: fixed;
    right: inherit;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $color-white;
    .ar & {
        left: inherit;
        right: 0;
    }
    @include respond-to('medium') {
        right: 0;
        left: inherit;
        width: rem(372px, 'medium');
        height: 100vh;
        .ar & {
            left: 0;
            right: inherit;
        }
    }
    @include respond-to('large') {
        width: rem(372px, 'large');
    }
}

.header-container {
    position: relative;
    padding: rem(20px, 'small') rem(15px, 'small') rem(10px, 'small');
    @include respond-to('medium') {
        padding: rem(20px, 'medium') rem(28px, 'medium') rem(10px, 'medium') rem(53px, 'medium');
        .ar & {
            padding: rem(20px, 'medium') rem(53px, 'medium') rem(10px, 'medium') rem(28px, 'medium');
        }
    }
    @include respond-to('large') {
        padding: rem(20px, 'large') rem(28px, 'large') rem(10px, 'large') rem(53px, 'large');
        .ar & {
            padding: rem(20px, 'large') rem(53px, 'large') rem(10px, 'large') rem(28px, 'large');
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-grey;
        opacity: 0.15;
        .ar & {
            left: inherit;
            right: 0;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: var(--color-theme-primary);
}

.search {
    display: flex;
    margin-top: rem(45px, 'small');
    @include respond-to('medium') {
        margin-top: rem(30px, 'medium');
    }
    @include respond-to('large') {
        margin-top: rem(30px, 'large');
    }
}

.input-search {
    width: 100%;
    color: var(--color-theme-primary);
    line-height: 0;
    &::placeholder {
        color: $color-grey-light;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color-grey-light;
    }
    &::-ms-input-placeholder {
        color: $color-grey-light;
    }
}

.filters {
    position: relative;
    padding: rem(20px, 'small') rem(15px, 'small') rem(10px, 'small');
    @include respond-to('medium') {
        padding: rem(20px, 'medium') rem(28px, 'medium') rem(10px, 'medium') rem(53px, 'medium');
        .ar & {
            padding: rem(20px, 'medium') rem(53px, 'medium') rem(10px, 'medium') rem(28px, 'medium');
        }
    }
    @include respond-to('large') {
        padding: rem(20px, 'large') rem(28px, 'large') rem(10px, 'large') rem(53px, 'large');
        .ar & {
            padding: rem(20px, 'large') rem(53px, 'large') rem(10px, 'large') rem(28px, 'large');
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-grey;
        opacity: 0.15;
    }
}
