.page {
    position: relative;

    opacity: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.heading {
    text-align: center;
}

.initiation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: rem(600px, 'small');
    margin-top: rem(75px, 'small');
    margin-left: auto;
    margin-right: auto;
    @include respond-to('medium') {
        max-width: rem(600px, 'medium');
        margin-top: rem(175px, 'medium');
    }
    @include respond-to('large') {
        max-width: rem(600px, 'large');
        margin-top: rem(175px, 'large');
    }
    .title {
        text-align: center;
        margin-bottom: rem(25px, 'small');
        @include respond-to('medium') {
            margin-bottom: rem(25px, 'medium');
        }
        @include respond-to('large') {
            margin-bottom: rem(25px, 'large');
        }
        .line .char {
            opacity: 0;
        }
    }
    .label {
        color: color-from-theme('green', 'secondary');
        margin-bottom: rem(56px, 'small');
        @include respond-to('medium') {
            margin-bottom: rem(56px, 'medium');
        }
        @include respond-to('large') {
            margin-bottom: rem(56px, 'large');
        }
    }
    .button-enter {
        position: relative;
        width: rem(100px, 'small');
        min-width: rem(100px, 'small');
        height: rem(100px, 'small');
        min-height: rem(100px, 'small');
        transition: all 0.8s ease-in;
        @include respond-to('medium') {
            width: rem(100px, 'medium');
            min-width: rem(100px, 'medium');
            height: rem(100px, 'medium');
            min-height: rem(100px, 'medium');
        }
        @include respond-to('large') {
            width: rem(100px, 'large');
            min-width: rem(100px, 'large');
            height: rem(100px, 'large');
            min-height: rem(100px, 'large');
        }
        &:hover {
            color: color-from-theme('green', 'secondary');
            transition: all 0.25s linear;
            &::before {
                width: rem(124px, 'small');
                height: rem(124px, 'small');
                @include respond-to('medium') {
                    width: rem(124px, 'medium');
                    height: rem(124px, 'medium');
                }
                @include respond-to('large') {
                    width: rem(124px, 'large');
                    height: rem(124px, 'large');
                }
                border: 2px solid color-from-theme('green', 'secondary');
                transition: all 0.35s ease;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid color-from-theme('green', 'secondary');
            border-radius: 100%;
            transform: translate3d(-50%, -50%, 0);
            transition: all 0.35s ease;
            filter: blur(0.7px);
        }
    }
    .cookie-sentence {
        position: absolute;
        bottom: rem(50px, 'small');
        opacity: 0.5;
        color: color-from-theme('green', 'secondary');
        padding: 0 rem(53px, 'small');
        text-align: center;
        @include respond-to('medium') {
            bottom: rem(50px, 'medium');
            padding: 0 rem(53px, 'medium');
            text-align: inherit;
        }
        @include respond-to('large') {
            bottom: rem(50px, 'large');
            padding: 0 rem(53px, 'large');
        }
        a {
            color: color-from-theme('green', 'secondary');
            text-decoration: underline;
        }
    }
}
