.dataviz {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: rem(92px, 'small');
    @include respond-to('medium') {
        margin-bottom: rem(88px, 'medium');
    }
    @include respond-to('large') {
        margin-bottom: rem(88px, 'large');
    }
    .tooltip {
        position: absolute;
        width: fit-content;
        padding: rem(8px, 'small') rem(12px, 'small') rem(12px, 'small');
        background-color: color-from-theme('green', 'primary');
        border-radius: rem(4px, 'small');
        color: $color-white;
        transform: translate(-50%, -100%);
        pointer-events: none;
        @include respond-to('medium') {
            padding: rem(8px, 'medium') rem(12px, 'medium') rem(12px, 'medium');
            border-radius: rem(4px, 'medium');
        }
        @include respond-to('large') {
            padding: rem(8px, 'large') rem(12px, 'large') rem(12px, 'large');
            border-radius: rem(4px, 'large');
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 0;
            height: 0;
            border-left-width: rem(9px, 'small');
            border-left-style: solid;
            border-left-color: transparent;
            border-right-width: rem(9px, 'small');
            border-right-style: solid;
            border-right-color: transparent;
            border-top-width: rem(9px, 'small');
            border-top-style: solid;
            border-top-color: color-from-theme('green', 'primary');
            transform: translate(-50%, calc(100% - 1px));
            @include respond-to('medium') {
                border-left-width: rem(9px, 'medium');
                border-right-width: rem(9px, 'medium');
                border-top-width: rem(9px, 'medium');
            }
            @include respond-to('large') {
                border-left-width: rem(9px, 'large');
                border-right-width: rem(9px, 'large');
                border-top-width: rem(9px, 'large');
            }
        }
    }
}

.chart {
    margin-right: 0px;
    margin-left: 0px;
}

.chart-bubble {
    min-width: 100%;
    min-height: rem(20px, 'small');
    @include respond-to('medium') {
        min-height: rem(20px, 'medium');
    }
    @include respond-to('large') {
        min-height: rem(20px, 'large');
    }
    .can-hover {
        &:hover {
            fill: color-from-theme('green', 'primary') !important;
        }
    }
    .label {
        color: color-from-theme('green', 'primary');
        text-anchor: middle;
        pointer-events: none;
        &.is-hidden {
            display: none;
        }
    }
}
