.template-entity {
    opacity: 0;

    & > .button-pagination {
        position: fixed;
        top: rem(20px, 'small');
        left: rem(16px, 'small');

        @include respond-to('medium') {
            top: rem(111.5px, 'medium');
            left: rem(53px, 'medium');
        }

        @include respond-to('large') {
            top: rem(111.5px, 'large');
            left: rem(53px, 'large');
        }

        .icon-arrow {
            margin-right: 16px;

            border: 1px solid $color-white;

            .arrow {
                fill: $color-white;
            }
        }
    }

    .button-back {
        position: fixed;
        top: rem(75px, 'small');
        left: rem(16px, 'small');

        .ar & {
            right: rem(16px, 'small');
            left: inherit;
        }

        @include respond-to('medium') {
            top: rem(108px, 'medium');
            left: rem(53px, 'medium');

            .ar & {
                right: rem(53px, 'medium');
                left: inherit;
            }
        }

        @include respond-to('large') {
            top: rem(108px, 'large');
            left: rem(53px, 'large');

            .ar & {
                right: rem(53px, 'large');
                left: inherit;
            }
        }

        .icon-arrow {
            .arrow {
                fill: $color-white;
            }
            .circle {
                border-color: $color-white;
            }
        }
    }
}
