.button-category {
    font-size: rem(48px, 'large');

    @include respond-to('medium') {
        font-size: rem(48px, 'medium');
    }

    @include respond-to('large') {
        font-size: rem(48px, 'large');
    }

    &:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;
    }
}
