.button-sound {
    position: relative;
    pointer-events: all;

    width: rem(25px, 'small');
    height: rem(25px, 'small');

    @include respond-to('medium') {
        width: rem(23px, 'medium');
        height: rem(23px, 'medium');
    }

    @include respond-to('large') {
        width: rem(23px, 'large');
        height: rem(23px, 'large');
    }
}
