.main-breadcrumb-item {
    position: relative;

    padding-left: 14px;
    padding-right: 10px;

    pointer-events: all;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $color-white;
}

.icon {
    position: absolute;
    left: 0;
    top: 7px;

    display: inline-block;

    margin: auto;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;

    border-color: transparent transparent transparent color-from-theme('green', 'primary');

    .theme-green & {
        border-color: transparent transparent transparent color-from-theme('green', 'primary');
    }

    .theme-blue & {
        border-color: transparent transparent transparent color-from-theme('blue', 'primary');
    }

    .theme-red & {
        border-color: transparent transparent transparent color-from-theme('red', 'primary');
    }
}
