.modal-subcategories {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
}

.overlay {
    opacity: 0;

    visibility: hidden;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    pointer-events: all;

    background-color: rgba(0, 0, 0, 0.5);
}

.button-open {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    right: rem(16px, 'small');
    bottom: rem(90px, 'small');

    width: rem(56px, 'small');
    height: rem(56px, 'small');

    pointer-events: all;

    .ar & {
        right: auto;
        left: rem(16px, 'small');
    }

    .modal-subcategories.is-open & {
        pointer-events: none;
    }

    @include respond-to('medium') {
        right: auto;
        bottom: auto;
        left: rem(53px, 'medium');
        top: 59%;

        width: rem(32px, 'medium');
        height: rem(32px, 'medium');

        .ar & {
            left: auto;
            right: rem(53px, 'medium');
        }
    }

    @include respond-to('large') {
        left: rem(53px, 'large');

        width: rem(32px, 'large');
        height: rem(32px, 'large');

        .ar & {
            left: auto;
            right: rem(53px, 'large');
        }
    }
    svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: rem(20px);
        height: rem(20px);

        margin: auto;

        @include respond-to('medium') {
            width: rem(14px, 'medium');
            height: rem(14px, 'medium');
        }

        @include respond-to('large') {
            width: rem(14px, 'large');
            height: rem(14px, 'large');
        }

        .ar & {
            transform: rotate3d(0, 1, 0, 180deg);
        }
    }

    path {
        transition: fill 0.3s $sine-in-out;
    }

    &:hover {
        path {
            fill: var(--color-theme-secondary);
        }

        .button-circle {
            opacity: 0.4;

            transform: scale(1.1);
        }
    }
}

.button-circle {
    opacity: 0.6;

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 1px solid var(--color-theme-secondary);
    border-radius: 50%;

    transition: transform 0.5s $quart-out, opacity 0.5s $sine-in-out;
}

.panel-container {
    pointer-events: all;
}
