.button-filter {
    position: relative;
    color: $color-grey-light;
    @include respond-to('medium') {
        color: $color-grey;
    }
    &:not(:last-child) {
        margin-right: 32px;
        .ar & {
            margin-left: 32px;
            margin-right: 0;
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        display: block;
        width: 100%;
        height: 1px;
        background-color: color-from-theme('green', 'primary');
        opacity: 0;
        .ar & {
            left: inherit;
            right: 0;
        }
    }
    &.is-active {
        color: color-from-theme('green', 'primary');
        &::after {
            opacity: 1;
        }
    }
}
