.list-item-subcategory {
    position: relative;
    display: block;
    padding : 0 rem(16px, 'small');
    @include respond-to('medium') {
        padding : inherit;
    }
    &:not(:last-child) {
        margin-bottom: rem(16px, 'small');
        @include respond-to('medium') {
            margin-bottom: rem(16px, 'medium');
        }
        @include respond-to('large') {
            margin-bottom: rem(16px, 'large');
        }
    }
}

.button {
    color: color-from-theme('green', 'primary');
    white-space: nowrap;
    transition: color 0.3s ease-out;
    @include respond-to('medium') {
        text-align: left;
        white-space: inherit;
        .ar & {
            text-align: right;
        }
    }
    &.is-highlighted {
        color: $color-white;
    }
}
