.list-item-subcategory {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 20px 0;
}

.button {
    position: relative;
    top: -20px;

    display: block;

    font-weight: 300;
    font-size: 64px;
    color: color-from-theme('green', 'primary');

    transition: color 0.3s ease-out;

    &.is-highlighted {
        color: $color-white;
    }

    @include respond-to('medium') {
        font-size: rem(64px, 'medium');
    }

    @include respond-to('large') {
        font-size: rem(64px, 'large');
        line-height: 1em;
    }
}
