.panel-menu {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;

    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: $color-white;

    /* transform: translateY(100%); */

    /* visibility: hidden; */

    .ar & {
        right: 0;
        left: inherit;

        transform: translateX(100%);
    }

    @include respond-to('medium') {
        top: 0;
        left: 0;

        /* width: rem(600px, 'medium'); */
        height: 100vh;

        .ar & {
            right: 0;
            left: inherit;
        }
    }

    @include respond-to('large') {
        /* width: rem(600px, 'large'); */
    }
}

.container {
    /* opacity: 0; */

    display: flex;
    flex-direction: row;

    height: 100%;
}

.sidebar {
    flex: 0 1 20vw;

    height: 100%;

    padding: rem(80px, 'large') rem(40px, 'large') rem(0, 'large');

    border-right: 1px solid rgba($color-grey, 0.15);
}

.button-category {
    opacity: 0.5;

    font-size: rem(40px, 'large');
    font-weight: 300;
    color: $color-grey;

    transition: opacity 0.2s ease-out;

    &:hover, &.is-active {
        /* color: var(--color-theme-secondary); */
        opacity: 1;
    }
}

.select-category {
    position: absolute;
    top: rem(108px, 'large');
    left: rem(407px, 'large');

    color: $color-grey;

    &:before {
        content: '';
        display: block;

        position: absolute;
        top: rem(6px, 'large');
        left: rem(-25px, 'large');

        width: 0;
        height: 0;

        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-right:3px solid $color-grey;
    }
}

.copyright {
    opacity: 0.5;

    position: absolute;
    left: rem(43px, 'large');
    bottom: rem(40px, 'large');

    font-size: rem(13px, 'large');
    color: $color-grey;
}

.content {
    flex: 1 1 auto;

    padding-top: rem(40px);
    padding-right: rem(28px);
    padding-bottom: rem(120px);
    padding-left: rem(53px);

    .ar & {
        padding-right: rem(53px);
        padding-bottom: rem(28px);
    }

    @include respond-to('medium') {
        padding-top: rem(40px, 'medium');
        padding-right: rem(60px, 'medium');
        padding-bottom: rem(28px, 'medium');
        padding-left: rem(130px, 'medium');

        .ar & {
            padding-right: rem(130px, 'medium');
            padding-bottom: rem(28px, 'medium');
        }
    }

    @include respond-to('large') {
        padding-top: rem(100px, 'large');
        padding-right: rem(58px, 'large');
        padding-bottom: rem(28px, 'large');
        padding-left: rem(58px, 'large');
    }
}

.list-subcategories {
    display: block;
}

.item-subcategories {
    &:not(:last-child) {
        margin-bottom: rem(40px, 'small');

        @include respond-to('medium') {
            margin-bottom: rem(40px, 'medium');
        }

        @include respond-to('large') {
            margin-bottom: rem(40px, 'large');
        }
    }
}

.button-entity {
    display: inline-block;

    position: relative;

    color: $color-grey;

    text-align: left;

    transition: color 0.2s ease-out;

    @include respond-to('medium') {
        font-size: rem(24px, 'medium');
        font-weight: 300;
    }

    @include respond-to('large') {
        font-size: rem(30px, 'large');
    }

    &:not(:last-child) {
        margin-bottom: rem(5px, 'small');

        @include respond-to('medium') {
            margin-bottom: rem(5px, 'medium');
        }

        @include respond-to('large') {
            margin-bottom: rem(5px, 'large');
        }
    }

    &:hover {
        color: var(--color-theme-secondary);
    }

    .ar & {
        text-align: right;
    }
}

.title-subcategory {
    display: block;

    max-width: rem(300px, 'small');
    margin-bottom: rem(11px, 'small');

    color: $color-grey;

    font-weight: 400;
    font-size: rem(14px, 'small');
    line-height: rem(18px, 'small');

    .community & {
        color: color-from-theme('blue', 'secondary');
    }

    .research & {
        color: color-from-theme('red', 'secondary');
    }

    .education & {
        color: color-from-theme('green', 'secondary');
    }

    @include respond-to('medium') {
        max-width: rem(300px, 'medium');
        margin-bottom: rem(10px, 'medium');

        font-size: rem(13px, 'medium');
        line-height: rem(16px, 'medium');
    }

    @include respond-to('large') {
        max-width: rem(300px, 'large');
        margin-bottom: rem(10px, 'large');

        font-size: rem(13px, 'large');
        line-height: rem(16px, 'large');
    }
}

.label {
    color: var(--color-theme-primary);
}

.item-entities {
    margin-bottom: rem(4px, 'small');

    @include respond-to('medium') {
        margin-bottom: rem(4px, 'medium');
    }

    @include respond-to('large') {
        margin-bottom: rem(4px, 'large');
    }
}
