ul {
    display: block;

    position: absolute;
    top: 10px;
    left: 170px;
}

li {
    display: inline-block;

    margin-right: 10px;

    font-size: 13px;
}

a {
    color: white;

    font-size: 13px;

    pointer-events: auto;
}
