

.tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(175px, 'small');
    @include respond-to('medium') {
        margin-top: rem(175px, 'medium');
    }
    @include respond-to('large') {
        margin-top: rem(175px, 'large');
    }
    .h6 {
        margin-bottom: rem(104px, 'small');
        text-align: center;
        @include respond-to('medium') {
            margin-bottom: rem(44px, 'medium');
        }
        @include respond-to('large') {
            margin-bottom: rem(44px, 'large');
        }
    }
    .p3 {
        max-width: rem(150px, 'small');
        margin-top: rem(16px, 'small');
        text-align: center;
        @include respond-to('medium') {
            max-width: rem(150px, 'medium');
            margin-top: rem(16px, 'medium');
        }
        @include respond-to('large') {
            max-width: rem(150px, 'large');
            margin-top: rem(16px, 'large');
        }
        color: color-from-theme('green', 'secondary');
        text-align: center;
    }
    .icon {
        position: relative;
        width: rem(56px, 'small');
        min-width: rem(56px, 'small');
        height: rem(56px, 'small');
        min-height: rem(56px, 'small');
        margin: 0 auto;
        border: 1px solid rgba(color-from-theme('green', 'secondary'), 0.5);
        border-radius: 100%;
        @include respond-to('medium') {
            width: rem(56px, 'medium');
            min-width: rem(56px, 'medium');
            height: rem(56px, 'medium');
            min-height: rem(56px, 'medium');
        }
        @include respond-to('large') {
            width: rem(56px, 'large');
            min-width: rem(56px, 'large');
            height: rem(56px, 'large');
            min-height: rem(56px, 'large');
        }
        svg {
            position: absolute;
            top: 50%; left: 50%;
            width: 100%;
            height: 100%;
            transform: translate3d(-50%, -50%, 0);
        }
        .select {
            .hand {
                animation: animHand 1.75s ease 0s infinite;
                @keyframes animHand {
                    0% { transform: translate3d(0, 0, 0); }
                    50% { transform: translate3d(0, -5px, 0); }
                    100% { transform: translate3d(0, 0, 0); }
                }
            }
        }
        .drag {
            position: relative;
            width: 100%;
            height: 100%;
            &::before, &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: calc(50% - 5px);
                display: block;
                width: 0;
                height: 0;
                border-left: rem(4px, 'small') solid transparent;
                border-right: rem(4px, 'small') solid transparent;
                border-top: rem(4px, 'small') solid color-from-theme('green', 'secondary');
                transform: translate3d(-50%, -50%, 0) rotate3D(0, 0, 1, -90deg);
                @include respond-to('medium') {
                    border-left: rem(4px, 'medium') solid transparent;
                    border-right: rem(4px, 'medium') solid transparent;
                    border-top: rem(4px, 'medium') solid color-from-theme('green', 'secondary');
                }
                @include respond-to('large') {
                    border-left: rem(4px, 'large') solid transparent;
                    border-right: rem(4px, 'large') solid transparent;
                    border-top: rem(4px, 'large') solid color-from-theme('green', 'secondary');
                }
            }
            &::before {
                left: calc(50% + 5px);
                transform: translate3d(-50%, -50%, 0) rotate3D(0, 0, 1, -90deg);
                animation: animDragLeft 1.5s ease 0s infinite;
                @keyframes animDragLeft {
                    0% { transform: translate3d(-50%, -50%, 0) rotate3D(0, 0, 1, -90deg); }
                    50% { transform: translate3d(calc(-50% + 1.5px), -50%, 0) rotate3D(0, 0, 1, -90deg); }
                    100% { transform: translate3d(-50%, -50%, 0) rotate3D(0, 0, 1, -90deg); }
                }
            }
            &::after {
                left: calc(50% - 5px);
                transform: translate3d(-50%, -50%, 0) rotate3D(0, 0, 1, 90deg);
                animation: animDragRight 1.5s ease 0s infinite;
                @keyframes animDragRight {
                    0% { transform: translate3d(-50%, -50%, 0) rotate3D(0, 0, 1, 90deg); }
                    50% { transform: translate3d(calc(-50% - 1.5px), -50%, 0) rotate3D(0, 0, 1, 90deg); }
                    100% { transform: translate3d(-50%, -50%, 0) rotate3D(0, 0, 1, 90deg); }
                }
            }
        }
    }

    .container-icons {
        position: relative;
    }

    .container-drag, .container-select {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
    }

    .container-select {
        position: absolute;
        top: 0; left: 0;
    }

}
