.button-menu {
    pointer-events: auto;

    position: relative;
    top: rem(-1px);

    width: rem(30px);
    height: rem(30px);

    margin-left: rem(10px);
    padding: rem(5px);

    .ar & {
        margin-left: auto;
        margin-right: rem(10px);

        @include respond-to('medium') {
            margin-right: rem(20px, 'medium');
        }

        @include respond-to('large') {
            margin-right: rem(20px, 'large');
        }
    }

    @include respond-to('medium') {
        top: rem(-1px, 'medium');

        width: rem(30px, 'medium');
        height: rem(30px, 'medium');

        margin-left: rem(20px, 'medium');
        padding: rem(5px, 'medium');
    }

    @include respond-to('large') {
        top: rem(-1px, 'large');

        width: rem(30px, 'large');
        height: rem(30px, 'large');

        margin-left: rem(20px, 'large');
        padding: rem(5px, 'large');
    }

    &:hover {
        .line--top {
            transform: scaleX(1) translateY(rem(-2px));

            @include respond-to('medium') {
                transform: scaleX(1) translateY(rem(-2px, 'medium'));
            }

            @include respond-to('large') {
                transform: scaleX(1) translateY(rem(-2px, 'large'));
            }
        }

        .line--bottom {
            transform: scaleX(1) translateY(rem(2px));


            @include respond-to('medium') {
                transform: scaleX(1) translateY(rem(2px, 'medium'));
            }

            @include respond-to('large') {
                transform: scaleX(1) translateY(rem(2px, 'large'));
            }
        }
    }
}

.line {
    width: 100%;
    height: 1px;

    background-color: $color-white;

    transition: transform 0.3s ease-out;
}

.line--bottom {
    margin-top: rem(5px);

    transform: scaleX(0.6);
    transform-origin: top left;

    @include respond-to('medium') {
        margin-top: rem(5px, 'medium');
    }

    @include respond-to('large') {
        margin-top: rem(5px, 'large');
    }
}
