.chart {
    margin-right: 0px;
    margin-left: 0px;
}

.chart-donut {
    .can-hover {
        &:hover {
            fill: color-from-theme('green', 'primary');
        }
    }
    .label-container {
        &.is-hidden {
            display: none;
        }
    }
    .label {
        color: color-from-theme('green', 'primary');
        text-anchor: middle;
        pointer-events: none;
    }
}

.dataviz {
    position: relative;
    width: fit-content;
    height: 100%;
    margin: 0 auto 92px;
    @include respond-to('medium') {
        margin: 0 auto 88px;
    }
    .tooltip {
        position: absolute;
        width: fit-content;
        padding: 8px 12px 12px;
        background-color: color-from-theme('green', 'primary');
        border-radius: 4px;
        color: $color-white;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
}
