.chart {
    margin-right: 0px;
    margin-left: 0px;
}

.chart-donut {
    .has-tooltip {
        &:hover {
            fill: var(--color-theme-primary);
        }
    }
    .arc {
        fill: var(--color-theme-secondary);

        &.active {
            fill: var(--color-theme-primary);
        }
    }
    .arc, .label-container {
        transition: fill .3s ease-out, opacity 0.3s ease-out;
    }
    .label-container {
        &.is-hidden {
            display: none;
        }
    }
    .label {
        text-anchor: middle;
        pointer-events: none;
    }
    .value {
        fill: var(--color-theme-primary);
    }
    .p7.label {
        @include respond-to('medium') {
            font-size: rem(14px, 'medium');
        }
        @include respond-to('large') {
            font-size: rem(14px, 'large');
        }
    }
}

.dataviz {
    position: relative;
    width: fit-content;
    height: 100%;
    margin: 0 auto rem(92px, 'small');
    @include respond-to('medium') {
        margin: 0 auto rem(88px, 'medium');
    }
    @include respond-to('large') {
        margin: 0 auto rem(88px, 'large');
    }
    .tooltip {
        position: absolute;

        pointer-events: none;

        width: 1px;
        height: 1px;

        .content {
            width: fit-content;
            min-width: rem(150px);

            padding: rem(8px, 'small') rem(12px, 'small') rem(12px, 'small');

            color: $color-white;

            background-color: var(--color-theme-primary);
            border-radius: rem(4px, 'small');

            &.left.top {
                translate: -100% -100%;

                .ar & {
                    translate: 0 -100%;
                }
            }

            &.right.top {
                translate: 0 -100%;

                .ar & {
                    translate: 100% -100%;
                }
            }

            &.left.bottom {
                translate: -100% 0;

                .ar & {
                    translate: 0 0;
                }
            }

            &.right.bottom {
                .ar & {
                    translate: 100% 0;
                }
            }

            &.left {
                text-align: right;
            }

            &.right {
                text-align: left;
            }

            @include respond-to('medium') {
                min-width: rem(150px, 'medium');
                padding: rem(8px, 'medium') rem(12px, 'medium') rem(12px, 'medium');
                border-radius: rem(4px, 'medium');
            }

            @include respond-to('large') {
                min-width: rem(150px, 'large');
                padding: rem(8px, 'large') rem(12px, 'large') rem(12px, 'large');
                border-radius: rem(4px, 'large');
            }
        }
    }
}

.labels {
    position: absolute;
    top: 50%;
    left: 50%;

    > li {
        position: absolute;
        top: 0;
        left: 0;

        width: rem(100px);

        pointer-events: none;

        @include respond-to('medium') {
            width: rem(100px, 'medium');
        }
        @include respond-to('large') {
            width: rem(100px, 'large');
        }

        &.hide {
            display: none;
        }

        .content {
            pointer-events: auto;

            &.left.top {
                translate: -100% -100%;
            }

            &.right.top {
                translate: 0 -100%;
            }

            &.left.bottom {
                translate: -100% 0;
            }

            &.left {
                text-align: right;
            }

            &.right {
                text-align: left;
            }
        }

        .value {
            display: block;
        }

        .label {
            padding-bottom: rem(2px);

            @include respond-to('medium') {
                padding-bottom: rem(2px, 'medium');
            }
            @include respond-to('large') {
                padding-bottom: rem(2px, 'large');
            }
        }
    }
}
