.modal-year {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
}

.overlay {
    opacity: 0;

    display: none;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    pointer-events: all;

    background-color: rgba(0, 0, 0, 0.5);

    transition: opacity 0.5s $sine-in-out;

    .modal-year.is-open & {
        opacity: 1;

        display: block;
    }
}

.button-container {
    position: absolute;
    left: rem(16px, 'small');
    bottom: rem(20px, 'small');

    pointer-events: all;

    @include respond-to('medium') {
        left: rem(53px, 'medium');
        bottom: rem(42px, 'medium');
    }

    @include respond-to('large') {
        left: rem(53px, 'large');
        bottom: rem(42px, 'large');
    }

    .ar & {
        left: auto;
        right: rem(16px, 'small');
        bottom: rem(20px, 'small');

        @include respond-to('medium') {
            left: auto;
            right: rem(53px, 'medium');
            bottom: rem(42px, 'medium');
        }

        @include respond-to('large') {
            left: auto;
            right: rem(53px, 'large');
            bottom: rem(42px, 'large');
        }
    }

    .modal-year.is-open & {
        pointer-events: none;
    }
}

.panel-container {
    pointer-events: all;
}
