.template-category {
    opacity: 0;

    @include respond-to('medium') {
        padding-top: rem(169px, 'medium');
    }
    @include respond-to('large') {
        padding-top: rem(169px, 'large');
    }
}
