.template-category {
    height: 100vh;
    opacity: 0;
    .container {
        @include respond-to('medium') {
            padding-top: rem(169px, 'medium');
            padding-bottom: rem(169px, 'medium');
        }
        @include respond-to('large') {
            padding-top: rem(169px, 'large');
            padding-bottom: rem(169px, 'large');
        }
    }
    .container-page {
        width: 100%;
        @include respond-to('medium') {
            width: calc(100vw - #{rem(53px * 2, 'medium')});
            margin: auto;
        }
        @include respond-to('large') {
            width: calc(100vw - #{rem(53px * 2, 'large')});
        }
    }
}

.button-scroll {
    position: absolute;
    top: 70%;
    right: rem(16px, 'small');
    transform: translate3d(0, -50%, 0);
    @include respond-to('medium') {
        right: rem(53px, 'medium');
    }
    @include respond-to('large') {
        right: rem(53px, 'large');
    }
    .ar & {
        right: inherit;
        left: rem(16px, 'small');
        @include respond-to('medium') {
            left: rem(53px, 'medium');
        }
        @include respond-to('large') {
            left: rem(53px, 'large');
        }
    }
}

.button-pagination {
    position: absolute;
    right: rem(20px);
    bottom: rem(210px);
}
