.the-navigation {
    opacity: 0;

    position: fixed;
    top: rem(20px, 'small');
    right: 0;
    left: 0;

    width: 100%;
    height: 0;

    @include respond-to('medium') {
        top: rem(34.5px, 'medium');
    }
    @include respond-to('large') {
        top: rem(34.5px, 'large');
    }
}

.row {
    display: flex;

    justify-content: space-between;

    width: 100%;

    padding-right: rem(16px, 'small');

    padding-left: rem(16px, 'small');

    @include respond-to('medium') {
        padding-right: rem(53px, 'medium');
        padding-left: rem(53px, 'medium');
    }

    @include respond-to('large') {
        padding-right: rem(53px, 'large');
        padding-left: rem(53px, 'large');
    }
}

.col-right {
    display: flex;

    height: 45px;

    @include respond-to('medium') {
        height: 45px;
    }

    @include respond-to('large') {
        height: 45px;
    }

    button {
        &:first-child {
            margin-right: 15px;

            @include respond-to('medium') {
                margin-right: 40px;
            }
            @include respond-to('large') {
                margin-right: 40px;
            }

            .ar & {
                margin-right: 0;
                margin-left: 15px;

                @include respond-to('medium') {
                    margin-right: 0;
                    margin-left: 40px;
                }
                @include respond-to('large') {
                    margin-right: 0;
                    margin-left: 40px;
                }
            }
        }
    }
}
