.the-navigation {
    position: fixed;
    top: rem(20px, 'small');
    left: 0;
    right: 0;

    width: 100%;
    height: 0;

    @include respond-to('medium') {
        top: rem(34.5px, 'medium');
    }
    @include respond-to('large') {
        top: rem(34.5px, 'large');
    }
}

.row {
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-left: rem(16px, 'small');
    padding-right: rem(16px, 'small');

    @include respond-to('medium') {
        padding-left: rem(16px, 'medium');
        padding-right: rem(16px, 'medium');
    }

    @include respond-to('large') {
        padding-left: rem(53px, 'large');
        padding-right: rem(53px, 'large');
    }
}

.col-right {
    display: flex;
    align-items: center;

    height: 45px;

    @include respond-to('medium') {
        height: 45px;
    }

    @include respond-to('large') {
        height: 45px;
    }

    button {
        &:first-child {
            margin-right: 15px;

            @include respond-to('medium') {
                margin-right: 40px;
            }
            @include respond-to('large') {
                margin-right: 40px;
            }
        }
    }
}
